body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  padding: 20px;
  background: #020617;
}

.section {
  padding: 60px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 25px;
  border-radius: 10px;
}
